nav {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    display: flex;
    justify-content: left;
    margin-top: 35px;
}

nav button {
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border: none;
    width: 150px;
    height: 40px;
    font-weight: 800;
    border-radius: 10px;
}

.title {
    text-align: left;
}

.title h1 {
    font-size: 50px;
    padding-left: 50px;
}

hr {
    width: calc(100vw - 100px);
    height: 1px;
    background: #000;
}

#backbutton {
    color: white;
    background-color: #426b1f;
    margin-left: 50px;
}

#backbutton:hover {
    background-color: #39591d;
}

.listitem {
    background: linear-gradient(90deg, #e6ffea 0%, #f7f6e4 100%);
    border-radius: 10px;
    outline: solid;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.lessons-list {
    display: flex;
    flex-direction: column;
}

.lessons-list h1 {
    margin-left: 30px;
}

.continue-lesson {
    border: none;
    height: 40px;
    font-weight: 800;
    border-radius: 10px;
    color: white;
    background-color: #426b1f;
    margin: 10px;
}

.continue-lesson:hover {
    background-color: #39591d;
}

.titlediv {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    flex: 0.4;
}

.descdiv {
    text-align: center);
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vl {
    border-left: 1px solid;
    height: 80%;
    margin: 30px;
}

.continuediv {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
}

.continuediv p {
    margin: 10px;
    font-weight: bold;
}
