:root {
    scroll-behavior: smooth;
}

.scrollbuttondiv {
    outline: dashed;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 30px;
    border-radius: 10px;
}

.scrollbuttondiv:hover {
    outline: solid;
}

.scrollButton {
    width: 100%;
    opacity: 0.7;
}

.scrollButton:hover {
    opacity: 1;
}

nav {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    display: flex;
    justify-content: right;
    margin-top: 35px;
}

nav button {
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border: none;
    width: 150px;
    height: 40px;
    font-weight: 800;
    border-radius: 10px;
}

#whoweare {
    width: 300px;
}

#title {
    margin-top: -1%;
    margin-right: 45%;
    padding: 1%;
    text-align: left;
    color: #426b1f;
}

li {
    display: inline;
}

#lessons {
    color: white;
    background-color: #426b1f;
    margin-left: 30px;
}

#lessons:hover {
    background-color: #39591d;
}

nav button:not(#lessons):hover {
    background-color: #f1f5ed;
}

#mainpagedivs div {
    height: 500px;
}

#sloganText {
    margin-top: 5%;
    margin-bottom: 1%;
    color: #000;
    font-feature-settings:
        "clig" off,
        "liga" off;
    font-family: Newsreader;
    font-size: 64px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 4px;
    text-align: center;
}

#landingButton {
    color: white;
    background-color: #426b1f;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    width: 150px;
    height: 40px;
    font-weight: 800;
    border-radius: 10px;
    margin: 3%;
}

#landingButton:hover {
    background-color: #39591d;
}

.learnMore {
    text-align: center;
}

#landingImage {
    border-radius: 50px;
    width: 650px;
    height: auto;
}

.imageBox {
    text-align: center;
}

#aboutdiv {
    margin-top: 10%;
}

#aboutTitle {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    color: #000;
    font-feature-settings:
        "clig" off,
        "liga" off;
    font-family: Newsreader;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 4px;
}

.descriptionText {
    text-align: center;
    margin-top: 3%;
    font-feature-settings:
        "clig" off,
        "liga" off;
    font-family: Newsreader;
    color: #000;
    font-size: 18px;
    font-weight: 200;
    line-height: 120%;
}

#faqTitle {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    color: #000;
    font-feature-settings:
        "clig" off,
        "liga" off;
    font-family: Newsreader;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 4px;
}

#whoWeAreTitle {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    color: #000;
    font-feature-settings:
        "clig" off,
        "liga" off;
    font-family: Newsreader;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 4px;
}

#examplesTitle {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    color: #000;
    font-feature-settings:
        "clig" off,
        "liga" off;
    font-family: Newsreader;
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 4px;
}
