ul {
    list-style-type: none;
}

nav {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    display: flex;
    justify-content: right;
    margin-top: 35px;
}

nav button {
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border: none;
    width: 150px;
    height: 40px;
    font-weight: 800;
    border-radius: 10px;
}

li {
    display: inline;
}

#lessons {
    color: white;
    background-color: #426b1f;
    margin-left: 30px;
}

#lessons:hover {
    background-color: #39591d;
}

nav button:not(#lessons):hover {
    background-color: #f1f5ed;
}

#mainpagedivs div {
    height: 500px;
}
